---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
const description = "About Graham's Blog";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
    title={title}
    description={description}
    permalink={permalink}
    current="about"
>
    <div class="container">
        <h1>About</h1>
        <figure class="about-image">
            <img
                src="/assets/figures.jpg"
                alt="Photograph of several miniature figures"
            />
            <figcaption>Photograph by Graham (c) 2024</figcaption>
        </figure>
        <p>
            Graham and Suzanne live in Naperville, Illinois and have done for
            several decades.
        </p>
        <p>In the future, this page may become more interesting.</p>
        <p>But I wouldn't bet on it.</p>
        <p></p>
        <p></p>
    </div>
</BaseLayout>

<style>
    .about-image {
        float: right;
        margin: -3em -7em 2em 2em;
        max-width: 300px;
    }

    .about-image img {
        border-radius: 12px;
        margin-bottom: 1.5em;
    }

    @media (max-width: 1020px) {
        .about-image {
            float: none;
            margin: 0 auto 2em;
        }
    }
</style>
