<div>
    <img src="/assets/Graham Headshot Blue.jpg" alt="Headshot of Graham Wils" />
    <p>
        Hi, I'm <strong>Graham</strong>. I'm an AI and ML Architect who likes
        table-top roleplaying games and boardgames. I'm active in my local
        church and enjoy gardening and bonsai. I have a bad history with
        whirling blades, but have not lost any digits yet.
    </p>
</div>

<style>
    div {
        align-items: center;
        display: flex;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        display: block;
        margin-right: 20px;
    }

    p {
        font-size: 1.125rem;
    }
</style>
