<style>
    img {
        display: block;
    }

    @media screen and (max-width: 520px) {
        img {
            display: none;
        }
    }
</style>

<a href="/">
    <img alt="Blog Logo" src="/assets/w.png" width="60px" height="60px" />
</a>
